<suite name="test suite">

    <test name="Sum Test">
        <classes>
            <class name="UnitTests.SumTest"/>
        </classes>
    </test>

    <test name="Sum of Negative">
        <classes>
            <class name="UnitTests.SumOfNegativeNumbersTest"/>
        </classes>
    </test>
</suite>